.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
android/.gradle/
android/local.properties
*.iml
*.log

